.navbar-design2 {
    font-size: 15px;
    margin-top: 10px;

         
}

.navbar-design2 a:hover {

    color: #0eed63 !important;




}

.btn-design {

    border: 1px solid #0eed63 !important;
    font-size: 15px !important;
    width: 150px;






}